flow.json
[{"id":"2f4a5f33.b09cf","type":"tab","label":"Control Tower","disabled":false,"info":"\n\n# Control Devices\n\n\n## 1. Water pump \n  - key :  controls/devices/sw/12\n  - value : \n     - 1 -> active\n     - 0 -> Not Active\n\n\n"},{"id":"7981ebc7.eb7ed4","type":"tab","label":"OFFICE","disabled":false,"info":""},{"id":"92e72c0.c2abed8","type":"tab","label":"CRON water pump","disabled":false,"info":""},{"id":"c3324967.789e48","type":"tab","label":"Recevice Sensor Data","disabled":false,"info":""},{"id":"50f32b36.8df874","type":"tab","label":"MQTT change Topic","disabled":false,"info":""},{"id":"f6df3aca.454398","type":"tab","label":"Toggle status/devices/sw/11","disabled":false,"info":"events/devices/sw/11 status toggle"},{"id":"b1e6b42f.e40738","type":"ui_group","name":"Group 1","tab":"1671acc8.746453","order":1,"disp":true,"width":6},{"id":"c4524907.137658","type":"mqtt-broker","z":"","name":"Mqtt-Sever","broker":"10.70.17.51","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1671acc8.746453","type":"ui_tab","z":"","name":"OFFICE","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"7f0c035a.e0130c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1cacf0ec.862aaf","type":"ui_group","z":"","name":"Group 1","tab":"47169428.40c01c","order":1,"disp":true,"width":"6","collapse":false},{"id":"a4a9218e.6f1eb","type":"ui_group","name":"Group 2","tab":"47169428.40c01c","order":2,"disp":true,"width":6},{"id":"d39b72d7.6a63c","type":"mqtt-broker","z":"","name":"Mqtt-Sever","broker":"10.70.17.51","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"874e27e1.714ff8","type":"ui_group","name":"Group 3","tab":"47169428.40c01c","order":3,"disp":true,"width":6},{"id":"47169428.40c01c","type":"ui_tab","z":"","name":"Receive Sensor Data","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"2be5b86.ca52948","type":"ui_group","name":"Group 4","tab":"47169428.40c01c","order":4,"disp":true,"width":6},{"id":"6d8d887.d993078","type":"ui_group","name":"Group 2","tab":"1671acc8.746453","order":2,"disp":true,"width":6},{"id":"e8292bd8.b72ca8","type":"redis-config","z":"","name":"10.70.17.51:6379","options":"{}","cluster":false,"optionsType":"json"},{"id":"47573954.062358","type":"redis-config","z":"","name":"local","options":"{\"host\":\"10.70.17.51\",\"port\":\"6379\"}","cluster":false,"optionsType":"json"},{"id":"df293ce0.cfca4","type":"redis-config","z":"","name":"Local","options":"{}","cluster":false,"optionsType":"json"},{"id":"af69846e.803218","type":"redis-config","z":"","name":"127.0.0.1","options":"{}","cluster":true,"optionsType":"json"},{"id":"df12255e.c63988","type":"redis-config","z":"","name":"10.70.17.51","options":"{}","cluster":false,"optionsType":"json"},{"id":"efc67b3f.8bfd88","type":"redis-config","z":"","name":"10.70.17.51","options":"{}","cluster":false,"optionsType":"json"},{"id":"7587428b.30822c","type":"redis-config","z":"","name":"10.70.62.34","options":"{}","cluster":false,"optionsType":"json"},{"id":"a98a9867.ee4f38","type":"redis-config","z":"","name":"Local","options":"{}","cluster":false,"optionsType":"json"},{"id":"210f7ffa.e486f","type":"redis-config","z":"","name":"Local","options":"{}","cluster":false,"optionsType":"json"},{"id":"96a41e3c.acd7b","type":"mongodb","z":"","d":true,"hostname":"cluster0.6l98d.mongodb.net","topology":"dnscluster","connectOptions":"","port":"27017","db":"ascdb","name":""},{"id":"e96f82bd.a0019","type":"mongodb","z":"","hostname":"10.70.62.34","topology":"direct","connectOptions":"","port":"27017","db":"ascdb","name":""},{"id":"8367c1f9.d55d8","type":"mongodb","z":"","hostname":"10.70.62.34","topology":"direct","connectOptions":"","port":"27017","db":"ascdb","name":""},{"id":"559b4c7f.d0d8e4","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"96df6c80.b0356","type":"ui_group","z":"","name":"Default","tab":"90e742a7.b5207","order":1,"disp":true,"width":"12","collapse":false},{"id":"90e742a7.b5207","type":"ui_tab","z":"","name":"List","icon":"dashboard","order":3},{"id":"9f5ccb33.2a6f88","type":"ui_tab","z":"","name":"Control Tower","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"818ae91c.e143f8","type":"ui_group","z":"","name":"Control Devices","tab":"9f5ccb33.2a6f88","order":1,"disp":true,"width":"6","collapse":false},{"id":"2913a870.61f668","type":"ui_group","z":"","name":"Default","tab":"2cd04f09.65e42","order":1,"disp":true,"width":"6","collapse":false},{"id":"2cd04f09.65e42","type":"ui_tab","z":"","name":"Home 12345","icon":"dashboard"},{"id":"13b8902d.e332b","type":"ui_group","z":"","name":"Default","tab":"24dad838.3f5668","order":1,"disp":true,"width":"6","collapse":false},{"id":"24dad838.3f5668","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"95368d45.14873","type":"redis-config","name":"10.70.17.51","options":"{}","cluster":false,"optionsType":"json"},{"id":"876f326d.7f106","type":"mongodb-config","z":"2f4a5f33.b09cf","hostname":"10.70.17.51","port":"27017","db":"testdb","name":""},{"id":"35b5dd18.b1cbc2","type":"ui_switch","z":"7981ebc7.eb7ed4","name":"","label":"Growth LED","tooltip":"","group":"b1e6b42f.e40738","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":530,"y":180,"wires":[["af8b3b57.2f8b58"]]},{"id":"b19ee5f2.ed5638","type":"ui_button","z":"7981ebc7.eb7ed4","name":"","group":"b1e6b42f.e40738","order":6,"width":0,"height":0,"passthru":false,"label":"Water Pump ","tooltip":"if enabled check Control Tower","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":656,"y":280,"wires":[["1b588711.236e99","a473976d.092d08"]]},{"id":"beeb0a.2a64b4f8","type":"switch","z":"c3324967.789e48","name":"","property":"payload.topic","propertyType":"jsonata","rules":[{"t":"eq","v":"03","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":630,"y":280,"wires":[["67fa9f9.944b36"],["8d1d74b2.01d1a8"],["bf799268.769bd"]]},{"id":"29977193.18893e","type":"json","z":"c3324967.789e48","name":"","property":"payload","action":"","pretty":false,"x":490,"y":280,"wires":[["beeb0a.2a64b4f8","a5649848.e88058"]]},{"id":"d3a5c034.a0b9c","type":"debug","z":"c3324967.789e48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":240,"wires":[]},{"id":"67fa9f9.944b36","type":"function","z":"c3324967.789e48","name":"","func":"var newMsg = { payload: msg.payload.value };\nreturn newMsg;","outputs":1,"noerr":0,"x":770,"y":120,"wires":[["600592b4.10bc5c","dd12ef0d.ab8f4","2a02fc5d.5a4d54"]]},{"id":"8d1d74b2.01d1a8","type":"function","z":"c3324967.789e48","name":"","func":"var newMsg = { payload: msg.payload.value };\nreturn newMsg;","outputs":1,"noerr":0,"x":770,"y":280,"wires":[["d3a5c034.a0b9c","bec51b06.43b3e8","5dc1abc2.4f5024"]]},{"id":"bf799268.769bd","type":"function","z":"c3324967.789e48","name":"","func":"var newMsg = { payload: msg.payload.value };\nreturn newMsg;","outputs":1,"noerr":0,"x":790,"y":440,"wires":[["e4af01ad.b34dd","9328545b.50cab8","8eae426f.7abf7"]]},{"id":"e4af01ad.b34dd","type":"debug","z":"c3324967.789e48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":400,"wires":[]},{"id":"dd12ef0d.ab8f4","type":"ui_gauge","z":"c3324967.789e48","name":"","group":"1cacf0ec.862aaf","order":2,"width":0,"height":0,"gtype":"gage","title":"Temprature","label":"units","format":"{{value}}","min":"1","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":160,"wires":[]},{"id":"600592b4.10bc5c","type":"ui_chart","z":"c3324967.789e48","name":"","group":"1cacf0ec.862aaf","order":1,"width":"0","height":"0","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":970,"y":120,"wires":[[]]},{"id":"5dc1abc2.4f5024","type":"ui_gauge","z":"c3324967.789e48","name":"","group":"a4a9218e.6f1eb","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":"20","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":980,"y":320,"wires":[]},{"id":"bec51b06.43b3e8","type":"ui_chart","z":"c3324967.789e48","name":"","group":"a4a9218e.6f1eb","order":1,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":980,"y":280,"wires":[[]]},{"id":"ac0d841c.5fe1f8","type":"mqtt in","z":"c3324967.789e48","name":"","topic":"events/sensors/eq/03","qos":"2","datatype":"utf8","broker":"d39b72d7.6a63c","x":120,"y":200,"wires":[["e008faa2.715098"]]},{"id":"53ce4ce0.f0d954","type":"mqtt in","z":"c3324967.789e48","name":"","topic":"events/sensors/eq/13","qos":"2","datatype":"utf8","broker":"d39b72d7.6a63c","x":120,"y":240,"wires":[["e008faa2.715098"]]},{"id":"901bd8e0.20c3c8","type":"mqtt in","z":"c3324967.789e48","name":"","topic":"events/sensors/eq/20","qos":"2","datatype":"utf8","broker":"d39b72d7.6a63c","x":120,"y":280,"wires":[["e008faa2.715098"]]},{"id":"945b0eaf.899ba","type":"inject","z":"c3324967.789e48","name":"","topic":"","payload":"01640409","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":340,"wires":[["e008faa2.715098"]]},{"id":"2a02fc5d.5a4d54","type":"debug","z":"c3324967.789e48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":80,"wires":[]},{"id":"9328545b.50cab8","type":"ui_chart","z":"c3324967.789e48","name":"","group":"874e27e1.714ff8","order":1,"width":0,"height":0,"label":"Soil Moisture","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"500","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":990,"y":440,"wires":[[]]},{"id":"8eae426f.7abf7","type":"ui_gauge","z":"c3324967.789e48","name":"","group":"874e27e1.714ff8","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"units","format":"{{value}}","min":"500","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"700","seg2":"900","x":990,"y":480,"wires":[]},{"id":"5385ea9c.b45ea4","type":"comment","z":"c3324967.789e48","name":"Temperature","info":"","x":790,"y":80,"wires":[]},{"id":"44bea333.e60bdc","type":"comment","z":"c3324967.789e48","name":"Humidity","info":"","x":780,"y":240,"wires":[]},{"id":"c59c89a5.89fa78","type":"comment","z":"c3324967.789e48","name":"Soil Moisture","info":"# Soil Moisture","x":810,"y":400,"wires":[]},{"id":"a5649848.e88058","type":"debug","z":"c3324967.789e48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":500,"y":420,"wires":[]},{"id":"d56f656b.591a38","type":"mqtt in","z":"7981ebc7.eb7ed4","name":"","topic":"events/sensors/eq/21","qos":"2","datatype":"auto","broker":"c4524907.137658","x":351,"y":540,"wires":[["9afc5bd6.544128"]]},{"id":"6edd9c43.2e2c84","type":"switch","z":"7981ebc7.eb7ed4","name":"","property":"payload.topic","propertyType":"jsonata","rules":[{"t":"eq","v":"03","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"21","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":901,"y":540,"wires":[[],[],["995af2c0.df66b"]]},{"id":"97bb72c7.9de34","type":"json","z":"7981ebc7.eb7ed4","name":"","property":"payload","action":"","pretty":false,"x":761,"y":540,"wires":[["6edd9c43.2e2c84"]]},{"id":"995af2c0.df66b","type":"function","z":"7981ebc7.eb7ed4","name":"","func":"var newMsg = { payload: msg.payload.value };\nreturn newMsg;","outputs":1,"noerr":0,"x":1062,"y":553,"wires":[["144b782f.b0c548","76065335.70e3ec","6bf60614.0a4248"]]},{"id":"752fa2f8.271b9c","type":"inject","z":"7981ebc7.eb7ed4","name":"","topic":"","payload":"1026634","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":331,"y":600,"wires":[["9afc5bd6.544128"]]},{"id":"76065335.70e3ec","type":"ui_gauge","z":"7981ebc7.eb7ed4","name":"","group":"6d8d887.d993078","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture2 Gauge","label":"units","format":"{{value}}","min":"300","max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"600","seg2":"900","x":1272,"y":573,"wires":[]},{"id":"144b782f.b0c548","type":"ui_chart","z":"7981ebc7.eb7ed4","name":"","group":"6d8d887.d993078","order":1,"width":0,"height":0,"label":"Soil moisture2 Chart","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"300","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1262,"y":513,"wires":[[]]},{"id":"6bf60614.0a4248","type":"debug","z":"7981ebc7.eb7ed4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1192,"y":653,"wires":[]},{"id":"f8b1ab0e.212438","type":"comment","z":"7981ebc7.eb7ed4","name":"Soil Moisture","info":"# Soil Moisture","x":1046,"y":516,"wires":[]},{"id":"1b588711.236e99","type":"mqtt out","z":"7981ebc7.eb7ed4","name":"","topic":"events/devices/sw/12","qos":"2","retain":"true","broker":"c4524907.137658","x":920,"y":280,"wires":[]},{"id":"5c81bf7f.75436","type":"mqtt out","z":"7981ebc7.eb7ed4","name":"","topic":"events/devices/sw/11","qos":"2","retain":"","broker":"c4524907.137658","x":980,"y":180,"wires":[]},{"id":"53c10828.dc6668","type":"comment","z":"7981ebc7.eb7ed4","name":"운영프로그램","info":"client \n pi@192.168.10.8    \n 7025\n $ cd workspace\n $ python i2c_test9.py --hostname 10.70.62.34 &\n $ ./sunset6.py &\n $ ps -ef | grep python\n \nServer\n $ ./mount.sh\n $ cd mnt/samba/PlantGrowth\n $ cd ETC/pyserial\n $ sudo python serialRead.py\n \n $ cd ../../Server2\n $ python mqtt-redis.py\n \n $ python read_redis2.py --topic events/sensors/eq/21\n ","x":549,"y":60,"wires":[]},{"id":"2223185b.a52e58","type":"inject","z":"92e72c0.c2abed8","name":"cron 1 hour interval","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["bec78b85.80b7e8"]]},{"id":"5e7b125f.d3fa8c","type":"redis-command","z":"92e72c0.c2abed8","server":"47573954.062358","command":"lindex","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":490,"y":100,"wires":[["62bdd940.9778b8"]]},{"id":"bec78b85.80b7e8","type":"function","z":"92e72c0.c2abed8","name":"redis key ","func":"msg.payload = ['events/sensors/eq/21', \"0\"]; \nreturn msg;","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["5e7b125f.d3fa8c"]]},{"id":"62bdd940.9778b8","type":"json","z":"92e72c0.c2abed8","name":"","property":"payload","action":"","pretty":false,"x":650,"y":100,"wires":[["979d3f6d.b7e5e","c092bff1.3d958"]]},{"id":"979d3f6d.b7e5e","type":"function","z":"92e72c0.c2abed8","name":"결과값","func":"msg = {payload : msg.payload.value};\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":300,"wires":[["43873747.343698"]]},{"id":"fd7b1810.b98ec8","type":"switch","z":"92e72c0.c2abed8","name":"Over 700 check","property":"payload.value","propertyType":"jsonata","rules":[{"t":"gte","v":"300","vt":"num"},{"t":"gte","v":"700","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":140,"y":440,"wires":[[],["a79e46ec.f87678"]]},{"id":"758cb83f.5fc758","type":"json","z":"92e72c0.c2abed8","name":"","property":"payload","action":"","pretty":false,"x":470,"y":300,"wires":[["fd7b1810.b98ec8"]]},{"id":"4d610f8b.e0767","type":"mqtt out","z":"92e72c0.c2abed8","name":"","topic":"events/devices/sw/12","qos":"2","retain":"","broker":"c4524907.137658","x":680,"y":460,"wires":[]},{"id":"c092bff1.3d958","type":"function","z":"92e72c0.c2abed8","name":"일자확인용","func":"msg = {payload : msg.payload.time};\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":160,"wires":[["9bd1f22c.a8374"]]},{"id":"9bd1f22c.a8374","type":"function","z":"92e72c0.c2abed8","name":"timeConvert","func":"var dt = new Date(msg.payload * 1000);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[[]]},{"id":"74d7985f.b51868","type":"mqtt out","z":"50f32b36.8df874","d":true,"name":"","topic":"events/sensors/eq/31","qos":"2","retain":"","broker":"c4524907.137658","x":321,"y":120,"wires":[]},{"id":"7bcd292a.1a9c58","type":"inject","z":"50f32b36.8df874","d":true,"name":"","topic":"","payload":"1180299","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":120,"wires":[["74d7985f.b51868"]]},{"id":"2df7a646.ac299a","type":"mqtt in","z":"50f32b36.8df874","name":"","topic":"events/sensors/eq/31","qos":"2","datatype":"auto","broker":"c4524907.137658","x":320,"y":180,"wires":[["3da7a4e4.f847cc"]]},{"id":"7123ea4e.c17874","type":"mqtt out","z":"50f32b36.8df874","name":"","topic":"events/devices/sw/12","qos":"","retain":"","broker":"c4524907.137658","x":1060,"y":280,"wires":[]},{"id":"3e9e9ec5.575ad2","type":"comment","z":"50f32b36.8df874","name":"Change Topic ","info":"\ntopic :  events/sensors/eq/13\n\npayload : \n '1180299':  'A'  // LED On\n '1180363':  'B'  // LED Off\n '1180427':  'C'  // Water Pump On\n '1180491':  'D'  // LED toggle\n\n","x":110,"y":40,"wires":[]},{"id":"3da7a4e4.f847cc","type":"switch","z":"50f32b36.8df874","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1180299","vt":"str"},{"t":"eq","v":"1180363","vt":"str"},{"t":"eq","v":"1180427","vt":"str"},{"t":"eq","v":"1180491","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":530,"y":180,"wires":[["8aef4470.361c58"],["8fb44b9e.871b38"],["f9ec1cf9.11dec"],["a9570c11.9ee1e"]]},{"id":"7d18a8fc.c60de8","type":"mqtt out","z":"50f32b36.8df874","name":"","topic":"events/devices/sw/11","qos":"2","retain":"","broker":"c4524907.137658","x":980,"y":140,"wires":[]},{"id":"8fb44b9e.871b38","type":"change","z":"50f32b36.8df874","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"device\":{\"group\":\"1\",\"family\":\"1\"},\"status\":\"0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":180,"wires":[["7d18a8fc.c60de8"]]},{"id":"fadaa210.f1956","type":"comment","z":"50f32b36.8df874","name":"A : LED On","info":"","x":720,"y":60,"wires":[]},{"id":"d394994e.20fff8","type":"comment","z":"50f32b36.8df874","name":"B : LED Off","info":"","x":730,"y":140,"wires":[]},{"id":"a144bd10.73e0f","type":"comment","z":"50f32b36.8df874","name":"C : waterpump On","info":"","x":750,"y":237,"wires":[]},{"id":"d0db5544.45b558","type":"mqtt in","z":"f6df3aca.454398","name":"","topic":"events/devices/sw/11","qos":"2","datatype":"auto","broker":"c4524907.137658","x":120,"y":100,"wires":[["d3767a84.15a418"]]},{"id":"ca3d0b77.7b7aa8","type":"comment","z":"f6df3aca.454398","name":"toggle","info":"","x":70,"y":40,"wires":[]},{"id":"8acb7d20.cf912","type":"inject","z":"f6df3aca.454398","name":"","topic":"","payload":"{\"device\":{\"group\":\"1\",\"family\":\"1\"},\"status\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":220,"wires":[["732c52a0.377fec"]]},{"id":"806d0f81.b646","type":"function","z":"f6df3aca.454398","name":"redis key ","func":"msg.topic=\"\";\nmsg.payload = ['status/devices/sw/11', 'on']; \nreturn msg;","outputs":1,"noerr":0,"x":440,"y":260,"wires":[["bc94156c.a83158"]]},{"id":"bc94156c.a83158","type":"redis-command","z":"f6df3aca.454398","server":"47573954.062358","command":"set","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":620,"y":280,"wires":[[]]},{"id":"732c52a0.377fec","type":"switch","z":"f6df3aca.454398","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":280,"wires":[["806d0f81.b646"],["d2df123a.fb85"]]},{"id":"d2df123a.fb85","type":"function","z":"f6df3aca.454398","name":"redis key ","func":"msg.topic=\"\";\nmsg.payload = ['status/devices/sw/11', 'off']; \nreturn msg;","outputs":1,"noerr":0,"x":440,"y":320,"wires":[["bc94156c.a83158"]]},{"id":"a9570c11.9ee1e","type":"function","z":"50f32b36.8df874","name":"redis key ","func":"msg.topic = \"\";\nmsg.payload = ['status/devices/sw/11']; \nreturn msg;","outputs":1,"noerr":0,"x":720,"y":380,"wires":[["d8561d47.e426e"]]},{"id":"d8561d47.e426e","type":"redis-command","z":"50f32b36.8df874","server":"47573954.062358","command":"get","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":900,"y":380,"wires":[["71cec85e.f1a328"]]},{"id":"2650b0af.7ce1e","type":"inject","z":"f6df3aca.454398","name":"","topic":"","payload":"{\"device\":{\"group\":\"1\",\"family\":\"1\"},\"status\":\"0\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":340,"wires":[["732c52a0.377fec"]]},{"id":"1f0b9bc2.fb86a4","type":"comment","z":"f6df3aca.454398","name":"on","info":"","x":90,"y":180,"wires":[]},{"id":"8d89256a.169c28","type":"comment","z":"f6df3aca.454398","name":"off","info":"","x":90,"y":300,"wires":[]},{"id":"d3767a84.15a418","type":"json","z":"f6df3aca.454398","name":"","property":"payload","action":"","pretty":false,"x":310,"y":100,"wires":[["732c52a0.377fec"]]},{"id":"71cec85e.f1a328","type":"switch","z":"50f32b36.8df874","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":380,"wires":[["bd63829d.b2531"],["260c67b.3105998"]]},{"id":"821ae841.c1fcc8","type":"mqtt out","z":"50f32b36.8df874","name":"","topic":"events/devices/sw/11","qos":"2","retain":"","broker":"c4524907.137658","x":1500,"y":380,"wires":[]},{"id":"bd63829d.b2531","type":"change","z":"50f32b36.8df874","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"device\":{\"group\":\"1\",\"family\":\"1\"},\"status\":\"0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":340,"wires":[["821ae841.c1fcc8"]]},{"id":"260c67b.3105998","type":"change","z":"50f32b36.8df874","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"device\":{\"group\":\"1\",\"family\":\"1\"},\"status\":\"1\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":400,"wires":[["821ae841.c1fcc8"]]},{"id":"9c22f246.a7af5","type":"comment","z":"50f32b36.8df874","name":"D :LED toggle","info":"\n\nredis key : events/devices/sw/11\n    value :  on  <-> off","x":730,"y":333,"wires":[]},{"id":"9cd317b8.6d8628","type":"ui_button","z":"7981ebc7.eb7ed4","name":"","group":"b1e6b42f.e40738","order":2,"width":0,"height":0,"passthru":false,"label":"Growth LED Toggle","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":343,"y":416,"wires":[["89d959be.adc938"]]},{"id":"89d959be.adc938","type":"function","z":"7981ebc7.eb7ed4","name":"redis key ","func":"msg.topic = \"\";\nmsg.payload = ['status/devices/sw/11']; \nreturn msg;","outputs":1,"noerr":0,"x":553,"y":416,"wires":[["6d03a28.ae2cc5c"]]},{"id":"6d03a28.ae2cc5c","type":"redis-command","z":"7981ebc7.eb7ed4","server":"47573954.062358","command":"get","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":733,"y":416,"wires":[["516f0bbd.7af034"]]},{"id":"516f0bbd.7af034","type":"switch","z":"7981ebc7.eb7ed4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":903,"y":416,"wires":[["68de12f6.a4ff1c"],["d5d18dff.9b168"]]},{"id":"42b7fe2a.cf10f","type":"mqtt out","z":"7981ebc7.eb7ed4","name":"","topic":"events/devices/sw/11","qos":"2","retain":"","broker":"c4524907.137658","x":1333,"y":416,"wires":[]},{"id":"68de12f6.a4ff1c","type":"change","z":"7981ebc7.eb7ed4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"device\":{\"group\":\"1\",\"family\":\"1\"},\"status\":\"0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1093,"y":376,"wires":[["42b7fe2a.cf10f"]]},{"id":"d5d18dff.9b168","type":"change","z":"7981ebc7.eb7ed4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"device\":{\"group\":\"1\",\"family\":\"1\"},\"status\":\"1\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1093,"y":436,"wires":[["42b7fe2a.cf10f"]]},{"id":"8aef4470.361c58","type":"change","z":"50f32b36.8df874","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"device\":{\"group\":\"1\",\"family\":\"1\"},\"status\":\"1\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":100,"wires":[["7d18a8fc.c60de8"]]},{"id":"4c9d7427.fa869c","type":"ui_switch","z":"2f4a5f33.b09cf","name":"","label":"Water pump ","tooltip":"","group":"818ae91c.e143f8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":230,"y":140,"wires":[["9fbadb08.51c798","378dad7.0ad7652"]]},{"id":"8b51729a.baf28","type":"function","z":"2f4a5f33.b09cf","name":"redis key ","func":"global.set(\"sw12\", 1);\n\nmsg.topic=\"\";\nmsg.payload = ['controls/devices/sw/12', 1]; \nreturn msg;","outputs":1,"noerr":0,"x":520,"y":119,"wires":[["971366a2.26f448"]]},{"id":"971366a2.26f448","type":"redis-command","z":"2f4a5f33.b09cf","server":"47573954.062358","command":"set","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":760,"y":140,"wires":[[]]},{"id":"9fbadb08.51c798","type":"switch","z":"2f4a5f33.b09cf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":140,"wires":[["8b51729a.baf28"],["8d9f950a.deba18"]]},{"id":"8d9f950a.deba18","type":"function","z":"2f4a5f33.b09cf","name":"redis key ","func":"global.set(\"sw12\", 0);\n\nmsg.topic=\"\";\nmsg.payload = ['controls/devices/sw/12', 0]; \nreturn msg;","outputs":1,"noerr":0,"x":520,"y":157,"wires":[["971366a2.26f448"]]},{"id":"a473976d.092d08","type":"debug","z":"7981ebc7.eb7ed4","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":240,"wires":[]},{"id":"7ef736ae.b748e8","type":"comment","z":"92e72c0.c2abed8","name":"Control Tower Check","info":"redis\n\ncontrols/devices/sw/12, 1","x":370,"y":400,"wires":[]},{"id":"3441fdde.562082","type":"comment","z":"7981ebc7.eb7ed4","name":"water pump ON","info":"","x":666,"y":240,"wires":[]},{"id":"947f09bd.ff5028","type":"comment","z":"2f4a5f33.b09cf","name":"Control devices","info":"\n\n# Control Devices\n\n\n## 1. Water pump \n  - key :  controls/devices/sw/12\n  - value : \n     - 1 -> active\n     - 0 -> Not Active\n\n\n","x":240,"y":73,"wires":[]},{"id":"31048523.433e6a","type":"comment","z":"50f32b36.8df874","name":"Control Tower Check","info":"redis\n\ncontrols/devices/sw/12, 1","x":950,"y":237,"wires":[]},{"id":"597b43f8.a7c05c","type":"ui_text","z":"2f4a5f33.b09cf","group":"818ae91c.e143f8","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":240,"wires":[]},{"id":"378dad7.0ad7652","type":"change","z":"2f4a5f33.b09cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Active Devices ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Not Active Devices ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":240,"wires":[["597b43f8.a7c05c"]]},{"id":"f8459144.94054","type":"comment","z":"2f4a5f33.b09cf","name":"Set global sw12","info":"","x":540,"y":80,"wires":[]},{"id":"1050c5d7.cb96fa","type":"ui_ui_control","z":"7981ebc7.eb7ed4","name":"Open Tab ","events":"change","x":160,"y":180,"wires":[["1987665f.145b3a"]]},{"id":"26c1499e.8210b6","type":"debug","z":"7981ebc7.eb7ed4","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":340,"wires":[]},{"id":"1987665f.145b3a","type":"switch","z":"7981ebc7.eb7ed4","name":"It is OFFICE","property":"name","propertyType":"msg","rules":[{"t":"eq","v":"OFFICE","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":180,"wires":[["9ceedd47.b4eb6","fe4fd0e3.e982f"]]},{"id":"9ceedd47.b4eb6","type":"function","z":"7981ebc7.eb7ed4","name":"get global sw12","func":"if (global.get(\"sw12\") === 0){\n    msg.enabled = false;\n} else\n{\n    msg.enabled = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":280,"wires":[["26c1499e.8210b6","b19ee5f2.ed5638"]]},{"id":"f9ec1cf9.11dec","type":"function","z":"50f32b36.8df874","name":"Get global sw12 & set payload ","func":"if(global.get(\"sw12\") === 1){\n    msg.payload = {\"device\":{\"group\":\"1\",\"family\":\"2\"},\"status\":\"1\"};\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":280,"wires":[["7123ea4e.c17874","2822389b.1974f8"]]},{"id":"2822389b.1974f8","type":"debug","z":"50f32b36.8df874","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1020,"y":340,"wires":[]},{"id":"a79e46ec.f87678","type":"function","z":"92e72c0.c2abed8","name":"Get global sw12 & set payload ","func":"if(global.get(\"sw12\") === 1){\n    msg.payload = {\"device\":{\"group\":\"1\",\"family\":\"2\"},\"status\":\"1\"};\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["4d610f8b.e0767"]]},{"id":"fe4fd0e3.e982f","type":"function","z":"7981ebc7.eb7ed4","name":"sw11","func":"msg.topic = \"\";\nmsg.payload = ['status/devices/sw/11']; \nreturn msg;","outputs":1,"noerr":0,"x":489,"y":104,"wires":[["badc55c6.6101d8"]]},{"id":"badc55c6.6101d8","type":"redis-command","z":"7981ebc7.eb7ed4","server":"47573954.062358","command":"get","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":679,"y":104,"wires":[["d03a097c.a16748"]]},{"id":"d4debb20.c55a08","type":"debug","z":"7981ebc7.eb7ed4","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1069,"y":104,"wires":[]},{"id":"d03a097c.a16748","type":"change","z":"7981ebc7.eb7ed4","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":859,"y":104,"wires":[["35b5dd18.b1cbc2","d4debb20.c55a08"]]},{"id":"af8b3b57.2f8b58","type":"change","z":"7981ebc7.eb7ed4","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"{\"device\":{\"group\":\"1\",\"family\":\"1\"},\"status\":\"1\"}","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"{\"device\":{\"group\":\"1\",\"family\":\"1\"},\"status\":\"0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":180,"wires":[["5c81bf7f.75436"]]},{"id":"e008faa2.715098","type":"pythonshell in","z":"c3324967.789e48","name":"","pyfile":"/usr/src/node-red/subprogram.py","virtualenv":"","continuous":false,"stdInData":false,"x":340,"y":280,"wires":[["29977193.18893e"]]},{"id":"9afc5bd6.544128","type":"pythonshell in","z":"7981ebc7.eb7ed4","name":"","pyfile":"/usr/src/node-red/subprogram.py","virtualenv":"","continuous":false,"stdInData":false,"x":591,"y":540,"wires":[["97bb72c7.9de34"]]},{"id":"43873747.343698","type":"pythonshell in","z":"92e72c0.c2abed8","name":"","pyfile":"/usr/src/node-red/subprogram.py","virtualenv":"","continuous":false,"stdInData":false,"x":300,"y":300,"wires":[["758cb83f.5fc758"]]}]