flow.json
[{"id":"8f649528.42f818","type":"tab","label":"On Connection","disabled":false,"info":"1. mongodb collection find All\n2. array loop\n3. readis get value\n4. "},{"id":"2f4a5f33.b09cf","type":"tab","label":"Control Tower","disabled":false,"info":"\n\n# Control Devices\n\n\n## 1. Water pump \n  - key :  controls/devices/sw/12\n  - value : \n     - 1 -> active\n     - 0 -> Not Active\n\n\n"},{"id":"7981ebc7.eb7ed4","type":"tab","label":"OFFICE","disabled":false,"info":""},{"id":"92e72c0.c2abed8","type":"tab","label":"CRON water pump","disabled":false,"info":""},{"id":"c3324967.789e48","type":"tab","label":"Recevice Sensor Data","disabled":false,"info":""},{"id":"50f32b36.8df874","type":"tab","label":"MQTT change Topic","disabled":false,"info":""},{"id":"f6df3aca.454398","type":"tab","label":"Toggle status/devices/sw/11","disabled":false,"info":"events/devices/sw/11 status toggle"},{"id":"ebc3cfd3.17265","type":"tab","label":"Recevice Sensor To Conver Hass.io","disabled":false,"info":""},{"id":"9285308d.715c9","type":"tab","label":"Home-assistant Sun.sun","disabled":false,"info":""},{"id":"e95e27c7.bdfe28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ab9683d3.9f8d8","type":"tab","label":"redis convert chartjs","disabled":false,"info":""},{"id":"9b1b8820.f177a8","type":"tab","label":"Create Charts","disabled":false,"info":""},{"id":"b1e6b42f.e40738","type":"ui_group","name":"Group 1","tab":"1671acc8.746453","order":1,"disp":true,"width":6},{"id":"c4524907.137658","type":"mqtt-broker","z":"","name":"Mqtt-Sever","broker":"10.70.17.51","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1671acc8.746453","type":"ui_tab","z":"","name":"OFFICE","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"7f0c035a.e0130c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1cacf0ec.862aaf","type":"ui_group","z":"","name":"Group 1","tab":"47169428.40c01c","order":1,"disp":true,"width":"6","collapse":false},{"id":"a4a9218e.6f1eb","type":"ui_group","name":"Group 2","tab":"47169428.40c01c","order":2,"disp":true,"width":6},{"id":"d39b72d7.6a63c","type":"mqtt-broker","z":"","name":"Mqtt-Sever","broker":"10.70.17.51","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"874e27e1.714ff8","type":"ui_group","name":"Group 3","tab":"47169428.40c01c","order":3,"disp":true,"width":6},{"id":"47169428.40c01c","type":"ui_tab","z":"","name":"Receive Sensor Data","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"2be5b86.ca52948","type":"ui_group","name":"Group 4","tab":"47169428.40c01c","order":4,"disp":true,"width":6},{"id":"6d8d887.d993078","type":"ui_group","name":"Group 2","tab":"1671acc8.746453","order":2,"disp":true,"width":6},{"id":"e8292bd8.b72ca8","type":"redis-config","z":"","name":"10.70.17.51:6379","options":"{}","cluster":false,"optionsType":"json"},{"id":"47573954.062358","type":"redis-config","z":"","name":"local","options":"{\"host\":\"10.70.17.51\",\"port\":\"6379\"}","cluster":false,"optionsType":"json"},{"id":"df293ce0.cfca4","type":"redis-config","z":"","name":"Local","options":"{}","cluster":false,"optionsType":"json"},{"id":"af69846e.803218","type":"redis-config","z":"","name":"127.0.0.1","options":"{}","cluster":true,"optionsType":"json"},{"id":"df12255e.c63988","type":"redis-config","z":"","name":"10.70.17.51","options":"{}","cluster":false,"optionsType":"json"},{"id":"efc67b3f.8bfd88","type":"redis-config","z":"","name":"10.70.17.51","options":"{}","cluster":false,"optionsType":"json"},{"id":"7587428b.30822c","type":"redis-config","z":"","name":"10.70.62.34","options":"{}","cluster":false,"optionsType":"json"},{"id":"a98a9867.ee4f38","type":"redis-config","z":"","name":"Local","options":"{}","cluster":false,"optionsType":"json"},{"id":"210f7ffa.e486f","type":"redis-config","z":"","name":"Local","options":"{}","cluster":false,"optionsType":"json"},{"id":"96a41e3c.acd7b","type":"mongodb","z":"","d":true,"hostname":"cluster0.6l98d.mongodb.net","port":"27017","db":"ascdb","name":""},{"id":"e96f82bd.a0019","type":"mongodb","z":"","hostname":"10.70.62.34","port":"27017","db":"ascdb","name":""},{"id":"8367c1f9.d55d8","type":"mongodb","z":"","hostname":"10.70.62.34","port":"27017","db":"ascdb","name":""},{"id":"559b4c7f.d0d8e4","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"96df6c80.b0356","type":"ui_group","z":"","name":"Default","tab":"90e742a7.b5207","order":1,"disp":true,"width":"12","collapse":false},{"id":"90e742a7.b5207","type":"ui_tab","z":"","name":"List","icon":"dashboard","order":3},{"id":"9f5ccb33.2a6f88","type":"ui_tab","z":"","name":"Control Tower","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"818ae91c.e143f8","type":"ui_group","z":"","name":"Control Devices","tab":"9f5ccb33.2a6f88","order":1,"disp":true,"width":"6","collapse":false},{"id":"2913a870.61f668","type":"ui_group","z":"","name":"Default","tab":"2cd04f09.65e42","order":1,"disp":true,"width":"6","collapse":false},{"id":"2cd04f09.65e42","type":"ui_tab","z":"","name":"Home 12345","icon":"dashboard"},{"id":"13b8902d.e332b","type":"ui_group","z":"","name":"Default","tab":"24dad838.3f5668","order":1,"disp":true,"width":"6","collapse":false},{"id":"24dad838.3f5668","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"95368d45.14873","type":"redis-config","name":"10.70.17.51","options":"{}","cluster":false,"optionsType":"json"},{"id":"876f326d.7f106","type":"mongodb-config","z":"2f4a5f33.b09cf","hostname":"10.70.17.51","port":"27017","db":"testdb","name":""},{"id":"753329d3.7d1038","type":"mongodb-config","z":"","hostname":"10.70.17.51","port":"27017","db":"testdb","name":""},{"id":"2edbf5.f205840c","type":"redis-config","z":"","name":"local","options":"{\"host\":\"10.70.17.51\",\"port\":\"6379\"}","cluster":false,"optionsType":"json"},{"id":"418d0269.e0087c","type":"redis-config","z":"","name":"local","options":"{\"host\":\"10.70.17.51\",\"port\":\"6379\"}","cluster":false,"optionsType":"json"},{"id":"62de3db.59623c4","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"ce63b1c5.c298a","type":"redis-config","name":"local","options":"{\"host\":\"10.70.17.51\",\"port\":\"6379\"}","cluster":false,"optionsType":"json"},{"id":"41c634f9.cac8fc","type":"redis-config","name":"local","options":"{\"host\":\"10.70.17.51\",\"port\":\"6379\"}","cluster":false,"optionsType":"json"},{"id":"a71df0fb.d924c","type":"ui_group","name":"Select Date","tab":"fbfbfe3a.4496f","order":1,"disp":true,"width":"6","collapse":false},{"id":"fbfbfe3a.4496f","type":"ui_tab","name":"Chart Create","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"35b5dd18.b1cbc2","type":"ui_switch","z":"7981ebc7.eb7ed4","name":"","label":"Growth LED","tooltip":"","group":"b1e6b42f.e40738","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":530,"y":180,"wires":[["9f5f3c36.d568"]]},{"id":"b19ee5f2.ed5638","type":"ui_button","z":"7981ebc7.eb7ed4","name":"","group":"b1e6b42f.e40738","order":6,"width":0,"height":0,"passthru":false,"label":"Water Pump ","tooltip":"if enabled check Control Tower","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":656,"y":280,"wires":[["fdaf359a.c174a8"]]},{"id":"beeb0a.2a64b4f8","type":"switch","z":"c3324967.789e48","name":"","property":"payload.topic","propertyType":"jsonata","rules":[{"t":"eq","v":"03","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":630,"y":280,"wires":[["67fa9f9.944b36"],["8d1d74b2.01d1a8"],["bf799268.769bd"]]},{"id":"29977193.18893e","type":"json","z":"c3324967.789e48","name":"","property":"payload","action":"","pretty":false,"x":490,"y":280,"wires":[["beeb0a.2a64b4f8","a5649848.e88058"]]},{"id":"d3a5c034.a0b9c","type":"debug","z":"c3324967.789e48","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":240,"wires":[]},{"id":"67fa9f9.944b36","type":"function","z":"c3324967.789e48","name":"","func":"var newMsg = { payload: msg.payload.value };\nreturn newMsg;","outputs":1,"noerr":0,"x":770,"y":120,"wires":[["600592b4.10bc5c","dd12ef0d.ab8f4","2a02fc5d.5a4d54"]]},{"id":"8d1d74b2.01d1a8","type":"function","z":"c3324967.789e48","name":"","func":"var newMsg = { payload: msg.payload.value };\nreturn newMsg;","outputs":1,"noerr":0,"x":770,"y":280,"wires":[["d3a5c034.a0b9c","bec51b06.43b3e8","5dc1abc2.4f5024"]]},{"id":"bf799268.769bd","type":"function","z":"c3324967.789e48","name":"","func":"var newMsg = { payload: msg.payload.value };\nreturn newMsg;","outputs":1,"noerr":0,"x":790,"y":440,"wires":[["e4af01ad.b34dd","9328545b.50cab8","8eae426f.7abf7"]]},{"id":"e4af01ad.b34dd","type":"debug","z":"c3324967.789e48","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":400,"wires":[]},{"id":"dd12ef0d.ab8f4","type":"ui_gauge","z":"c3324967.789e48","name":"","group":"1cacf0ec.862aaf","order":2,"width":0,"height":0,"gtype":"gage","title":"Temprature","label":"units","format":"{{value}}","min":"1","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":160,"wires":[]},{"id":"600592b4.10bc5c","type":"ui_chart","z":"c3324967.789e48","name":"","group":"1cacf0ec.862aaf","order":1,"width":"0","height":"0","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":970,"y":120,"wires":[[]]},{"id":"5dc1abc2.4f5024","type":"ui_gauge","z":"c3324967.789e48","name":"","group":"a4a9218e.6f1eb","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":"20","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":980,"y":320,"wires":[]},{"id":"bec51b06.43b3e8","type":"ui_chart","z":"c3324967.789e48","name":"","group":"a4a9218e.6f1eb","order":1,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":980,"y":280,"wires":[[]]},{"id":"ac0d841c.5fe1f8","type":"mqtt in","z":"c3324967.789e48","name":"","topic":"events/sensors/eq/03","qos":"2","datatype":"utf8","broker":"d39b72d7.6a63c","x":120,"y":200,"wires":[["e008faa2.715098"]]},{"id":"53ce4ce0.f0d954","type":"mqtt in","z":"c3324967.789e48","name":"","topic":"events/sensors/eq/13","qos":"2","datatype":"utf8","broker":"d39b72d7.6a63c","x":120,"y":240,"wires":[["e008faa2.715098"]]},{"id":"901bd8e0.20c3c8","type":"mqtt in","z":"c3324967.789e48","name":"","topic":"events/sensors/eq/20","qos":"2","datatype":"utf8","broker":"d39b72d7.6a63c","x":120,"y":280,"wires":[["e008faa2.715098"]]},{"id":"945b0eaf.899ba","type":"inject","z":"c3324967.789e48","name":"","topic":"","payload":"01640409","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":340,"wires":[["e008faa2.715098"]]},{"id":"2a02fc5d.5a4d54","type":"debug","z":"c3324967.789e48","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":80,"wires":[]},{"id":"9328545b.50cab8","type":"ui_chart","z":"c3324967.789e48","name":"","group":"874e27e1.714ff8","order":1,"width":0,"height":0,"label":"Soil Moisture","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"500","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":990,"y":440,"wires":[[]]},{"id":"8eae426f.7abf7","type":"ui_gauge","z":"c3324967.789e48","name":"","group":"874e27e1.714ff8","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"units","format":"{{value}}","min":"500","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"700","seg2":"900","x":990,"y":480,"wires":[]},{"id":"5385ea9c.b45ea4","type":"comment","z":"c3324967.789e48","name":"Temperature","info":"","x":790,"y":80,"wires":[]},{"id":"44bea333.e60bdc","type":"comment","z":"c3324967.789e48","name":"Humidity","info":"","x":780,"y":240,"wires":[]},{"id":"c59c89a5.89fa78","type":"comment","z":"c3324967.789e48","name":"Soil Moisture","info":"# Soil Moisture","x":810,"y":400,"wires":[]},{"id":"a5649848.e88058","type":"debug","z":"c3324967.789e48","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":500,"y":420,"wires":[]},{"id":"d56f656b.591a38","type":"mqtt in","z":"7981ebc7.eb7ed4","name":"","topic":"events/sensors/eq/21","qos":"2","datatype":"auto","broker":"c4524907.137658","x":351,"y":540,"wires":[["9afc5bd6.544128"]]},{"id":"6edd9c43.2e2c84","type":"switch","z":"7981ebc7.eb7ed4","name":"","property":"payload.topic","propertyType":"jsonata","rules":[{"t":"eq","v":"03","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"21","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":901,"y":540,"wires":[[],[],["995af2c0.df66b"]]},{"id":"97bb72c7.9de34","type":"json","z":"7981ebc7.eb7ed4","name":"","property":"payload","action":"","pretty":false,"x":761,"y":540,"wires":[["6edd9c43.2e2c84"]]},{"id":"995af2c0.df66b","type":"function","z":"7981ebc7.eb7ed4","name":"","func":"var newMsg = { payload: msg.payload.value };\nreturn newMsg;","outputs":1,"noerr":0,"x":1062,"y":553,"wires":[["144b782f.b0c548","76065335.70e3ec","6bf60614.0a4248"]]},{"id":"752fa2f8.271b9c","type":"inject","z":"7981ebc7.eb7ed4","name":"","topic":"","payload":"1026634","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":331,"y":600,"wires":[["9afc5bd6.544128"]]},{"id":"76065335.70e3ec","type":"ui_gauge","z":"7981ebc7.eb7ed4","name":"","group":"6d8d887.d993078","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture2 Gauge","label":"units","format":"{{value}}","min":"300","max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"600","seg2":"900","x":1272,"y":573,"wires":[]},{"id":"144b782f.b0c548","type":"ui_chart","z":"7981ebc7.eb7ed4","name":"","group":"6d8d887.d993078","order":1,"width":0,"height":0,"label":"Soil moisture2 Chart","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"300","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1262,"y":513,"wires":[[]]},{"id":"6bf60614.0a4248","type":"debug","z":"7981ebc7.eb7ed4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1192,"y":653,"wires":[]},{"id":"f8b1ab0e.212438","type":"comment","z":"7981ebc7.eb7ed4","name":"Soil Moisture","info":"# Soil Moisture","x":1046,"y":516,"wires":[]},{"id":"1b588711.236e99","type":"mqtt out","z":"7981ebc7.eb7ed4","name":"","topic":"events/devices/sw/12","qos":"2","retain":"true","broker":"c4524907.137658","x":1280,"y":280,"wires":[]},{"id":"5c81bf7f.75436","type":"mqtt out","z":"7981ebc7.eb7ed4","name":"","topic":"events/devices/sw/11","qos":"2","retain":"","broker":"c4524907.137658","x":1060,"y":180,"wires":[]},{"id":"53c10828.dc6668","type":"comment","z":"7981ebc7.eb7ed4","name":"운영프로그램","info":"client \n pi@192.168.10.8    \n 7025\n $ cd workspace\n $ python i2c_test9.py --hostname 10.70.62.34 &\n $ ./sunset6.py &\n $ ps -ef | grep python\n \nServer\n $ ./mount.sh\n $ cd mnt/samba/PlantGrowth\n $ cd ETC/pyserial\n $ sudo python serialRead.py\n \n $ cd ../../Server2\n $ python mqtt-redis.py\n \n $ python read_redis2.py --topic events/sensors/eq/21\n ","x":549,"y":60,"wires":[]},{"id":"2223185b.a52e58","type":"inject","z":"92e72c0.c2abed8","name":"cron 1 hour interval","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["bec78b85.80b7e8"]]},{"id":"5e7b125f.d3fa8c","type":"redis-command","z":"92e72c0.c2abed8","server":"47573954.062358","command":"lindex","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":490,"y":100,"wires":[["62bdd940.9778b8"]]},{"id":"bec78b85.80b7e8","type":"function","z":"92e72c0.c2abed8","name":"redis key ","func":"msg.payload = ['events/sensors/eq/21', \"0\"]; \nreturn msg;","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["5e7b125f.d3fa8c"]]},{"id":"62bdd940.9778b8","type":"json","z":"92e72c0.c2abed8","name":"","property":"payload","action":"","pretty":false,"x":650,"y":100,"wires":[["979d3f6d.b7e5e","c092bff1.3d958"]]},{"id":"979d3f6d.b7e5e","type":"function","z":"92e72c0.c2abed8","name":"결과값","func":"msg = {payload : msg.payload.value};\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":300,"wires":[["43873747.343698"]]},{"id":"fd7b1810.b98ec8","type":"switch","z":"92e72c0.c2abed8","name":"Over 700 check","property":"payload.value","propertyType":"jsonata","rules":[{"t":"gte","v":"300","vt":"num"},{"t":"gte","v":"700","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":140,"y":440,"wires":[[],["a79e46ec.f87678"]]},{"id":"758cb83f.5fc758","type":"json","z":"92e72c0.c2abed8","name":"","property":"payload","action":"","pretty":false,"x":470,"y":300,"wires":[["fd7b1810.b98ec8"]]},{"id":"4d610f8b.e0767","type":"mqtt out","z":"92e72c0.c2abed8","name":"","topic":"events/devices/sw/12","qos":"2","retain":"","broker":"c4524907.137658","x":680,"y":460,"wires":[]},{"id":"c092bff1.3d958","type":"function","z":"92e72c0.c2abed8","name":"일자확인용","func":"msg = {payload : msg.payload.time};\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":160,"wires":[["9bd1f22c.a8374"]]},{"id":"9bd1f22c.a8374","type":"function","z":"92e72c0.c2abed8","name":"timeConvert","func":"var dt = new Date(msg.payload * 1000);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[[]]},{"id":"74d7985f.b51868","type":"mqtt out","z":"50f32b36.8df874","d":true,"name":"","topic":"events/sensors/eq/31","qos":"2","retain":"","broker":"c4524907.137658","x":321,"y":120,"wires":[]},{"id":"7bcd292a.1a9c58","type":"inject","z":"50f32b36.8df874","d":true,"name":"","topic":"","payload":"1180299","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":120,"wires":[["74d7985f.b51868"]]},{"id":"2df7a646.ac299a","type":"mqtt in","z":"50f32b36.8df874","name":"","topic":"events/sensors/eq/31","qos":"2","datatype":"auto","broker":"c4524907.137658","x":320,"y":180,"wires":[["3da7a4e4.f847cc"]]},{"id":"7123ea4e.c17874","type":"mqtt out","z":"50f32b36.8df874","name":"","topic":"events/devices/sw/12","qos":"","retain":"","broker":"c4524907.137658","x":1060,"y":280,"wires":[]},{"id":"3e9e9ec5.575ad2","type":"comment","z":"50f32b36.8df874","name":"Change Topic ","info":"\ntopic :  events/sensors/eq/13\n\npayload : \n '1180299':  'A'  // LED On\n '1180363':  'B'  // LED Off\n '1180427':  'C'  // Water Pump On\n '1180491':  'D'  // LED toggle\n\n","x":110,"y":40,"wires":[]},{"id":"3da7a4e4.f847cc","type":"switch","z":"50f32b36.8df874","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1180299","vt":"str"},{"t":"eq","v":"1180363","vt":"str"},{"t":"eq","v":"1180427","vt":"str"},{"t":"eq","v":"1180491","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":530,"y":180,"wires":[["8aef4470.361c58"],["8fb44b9e.871b38"],["f9ec1cf9.11dec"],["a9570c11.9ee1e"]]},{"id":"7d18a8fc.c60de8","type":"mqtt out","z":"50f32b36.8df874","name":"","topic":"events/devices/sw/11","qos":"2","retain":"","broker":"c4524907.137658","x":980,"y":140,"wires":[]},{"id":"8fb44b9e.871b38","type":"change","z":"50f32b36.8df874","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"device\":{\"group\":\"1\",\"family\":\"1\"},\"status\":\"0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":180,"wires":[["7d18a8fc.c60de8"]]},{"id":"fadaa210.f1956","type":"comment","z":"50f32b36.8df874","name":"A : LED On","info":"","x":720,"y":60,"wires":[]},{"id":"d394994e.20fff8","type":"comment","z":"50f32b36.8df874","name":"B : LED Off","info":"","x":730,"y":140,"wires":[]},{"id":"a144bd10.73e0f","type":"comment","z":"50f32b36.8df874","name":"C : waterpump On","info":"","x":750,"y":237,"wires":[]},{"id":"d0db5544.45b558","type":"mqtt in","z":"f6df3aca.454398","name":"","topic":"events/devices/sw/11","qos":"2","datatype":"auto","broker":"c4524907.137658","x":120,"y":100,"wires":[["d3767a84.15a418"]]},{"id":"ca3d0b77.7b7aa8","type":"comment","z":"f6df3aca.454398","name":"toggle","info":"","x":70,"y":40,"wires":[]},{"id":"8acb7d20.cf912","type":"inject","z":"f6df3aca.454398","name":"","topic":"","payload":"{\"device\":{\"group\":\"1\",\"family\":\"1\"},\"status\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":220,"wires":[["732c52a0.377fec"]]},{"id":"806d0f81.b646","type":"function","z":"f6df3aca.454398","name":"redis key ","func":"msg.topic=\"\";\nmsg.payload = ['status/devices/sw/11', 'on']; \nreturn msg;","outputs":1,"noerr":0,"x":440,"y":260,"wires":[["bc94156c.a83158"]]},{"id":"bc94156c.a83158","type":"redis-command","z":"f6df3aca.454398","server":"47573954.062358","command":"set","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":620,"y":280,"wires":[[]]},{"id":"732c52a0.377fec","type":"switch","z":"f6df3aca.454398","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":280,"wires":[["806d0f81.b646"],["d2df123a.fb85"]]},{"id":"d2df123a.fb85","type":"function","z":"f6df3aca.454398","name":"redis key ","func":"msg.topic=\"\";\nmsg.payload = ['status/devices/sw/11', 'off']; \nreturn msg;","outputs":1,"noerr":0,"x":440,"y":320,"wires":[["bc94156c.a83158"]]},{"id":"a9570c11.9ee1e","type":"function","z":"50f32b36.8df874","name":"redis key ","func":"msg.topic = \"\";\nmsg.payload = ['status/devices/sw/11']; \nreturn msg;","outputs":1,"noerr":0,"x":720,"y":380,"wires":[["d8561d47.e426e"]]},{"id":"d8561d47.e426e","type":"redis-command","z":"50f32b36.8df874","server":"47573954.062358","command":"get","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":900,"y":380,"wires":[["71cec85e.f1a328"]]},{"id":"2650b0af.7ce1e","type":"inject","z":"f6df3aca.454398","name":"","topic":"","payload":"{\"device\":{\"group\":\"1\",\"family\":\"1\"},\"status\":\"0\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":340,"wires":[["732c52a0.377fec"]]},{"id":"1f0b9bc2.fb86a4","type":"comment","z":"f6df3aca.454398","name":"on","info":"","x":90,"y":180,"wires":[]},{"id":"8d89256a.169c28","type":"comment","z":"f6df3aca.454398","name":"off","info":"","x":90,"y":300,"wires":[]},{"id":"d3767a84.15a418","type":"json","z":"f6df3aca.454398","name":"","property":"payload","action":"","pretty":false,"x":310,"y":100,"wires":[["732c52a0.377fec"]]},{"id":"71cec85e.f1a328","type":"switch","z":"50f32b36.8df874","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":380,"wires":[["bd63829d.b2531"],["260c67b.3105998"]]},{"id":"821ae841.c1fcc8","type":"mqtt out","z":"50f32b36.8df874","name":"","topic":"events/devices/sw/11","qos":"2","retain":"","broker":"c4524907.137658","x":1500,"y":380,"wires":[]},{"id":"bd63829d.b2531","type":"change","z":"50f32b36.8df874","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"device\":{\"group\":\"1\",\"family\":\"1\"},\"status\":\"0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":340,"wires":[["821ae841.c1fcc8"]]},{"id":"260c67b.3105998","type":"change","z":"50f32b36.8df874","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"device\":{\"group\":\"1\",\"family\":\"1\"},\"status\":\"1\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":400,"wires":[["821ae841.c1fcc8"]]},{"id":"9c22f246.a7af5","type":"comment","z":"50f32b36.8df874","name":"D :LED toggle","info":"\n\nredis key : events/devices/sw/11\n    value :  on  <-> off","x":730,"y":333,"wires":[]},{"id":"9cd317b8.6d8628","type":"ui_button","z":"7981ebc7.eb7ed4","name":"","group":"b1e6b42f.e40738","order":2,"width":0,"height":0,"passthru":false,"label":"Growth LED Toggle","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":343,"y":416,"wires":[["89d959be.adc938"]]},{"id":"89d959be.adc938","type":"function","z":"7981ebc7.eb7ed4","name":"redis key ","func":"msg.topic = \"\";\nmsg.payload = ['status/devices/sw/11']; \nreturn msg;","outputs":1,"noerr":0,"x":553,"y":416,"wires":[["6d03a28.ae2cc5c"]]},{"id":"6d03a28.ae2cc5c","type":"redis-command","z":"7981ebc7.eb7ed4","server":"47573954.062358","command":"get","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":733,"y":416,"wires":[["516f0bbd.7af034"]]},{"id":"516f0bbd.7af034","type":"switch","z":"7981ebc7.eb7ed4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":903,"y":416,"wires":[["68de12f6.a4ff1c"],["d5d18dff.9b168"]]},{"id":"42b7fe2a.cf10f","type":"mqtt out","z":"7981ebc7.eb7ed4","name":"","topic":"events/devices/sw/11","qos":"2","retain":"","broker":"c4524907.137658","x":1333,"y":416,"wires":[]},{"id":"68de12f6.a4ff1c","type":"change","z":"7981ebc7.eb7ed4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"device\":{\"group\":\"1\",\"family\":\"1\"},\"status\":\"0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1093,"y":376,"wires":[["42b7fe2a.cf10f"]]},{"id":"d5d18dff.9b168","type":"change","z":"7981ebc7.eb7ed4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"device\":{\"group\":\"1\",\"family\":\"1\"},\"status\":\"1\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1093,"y":436,"wires":[["42b7fe2a.cf10f"]]},{"id":"8aef4470.361c58","type":"change","z":"50f32b36.8df874","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"device\":{\"group\":\"1\",\"family\":\"1\"},\"status\":\"1\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":100,"wires":[["7d18a8fc.c60de8"]]},{"id":"4c9d7427.fa869c","type":"ui_switch","z":"2f4a5f33.b09cf","name":"","label":"Water pump ","tooltip":"","group":"818ae91c.e143f8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":230,"y":140,"wires":[["9fbadb08.51c798","378dad7.0ad7652"]]},{"id":"8b51729a.baf28","type":"function","z":"2f4a5f33.b09cf","name":"redis key ","func":"global.set(\"sw12\", 1);\n\nmsg.topic=\"\";\nmsg.payload = ['controls/devices/sw/12', 1]; \nreturn msg;","outputs":1,"noerr":0,"x":520,"y":119,"wires":[["971366a2.26f448"]]},{"id":"971366a2.26f448","type":"redis-command","z":"2f4a5f33.b09cf","server":"47573954.062358","command":"set","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":760,"y":140,"wires":[[]]},{"id":"9fbadb08.51c798","type":"switch","z":"2f4a5f33.b09cf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":140,"wires":[["8b51729a.baf28"],["8d9f950a.deba18"]]},{"id":"8d9f950a.deba18","type":"function","z":"2f4a5f33.b09cf","name":"redis key ","func":"global.set(\"sw12\", 0);\n\nmsg.topic=\"\";\nmsg.payload = ['controls/devices/sw/12', 0]; \nreturn msg;","outputs":1,"noerr":0,"x":520,"y":157,"wires":[["971366a2.26f448"]]},{"id":"7ef736ae.b748e8","type":"comment","z":"92e72c0.c2abed8","name":"Control Tower Check","info":"redis\n\ncontrols/devices/sw/12, 1","x":370,"y":400,"wires":[]},{"id":"3441fdde.562082","type":"comment","z":"7981ebc7.eb7ed4","name":"water pump ON","info":"","x":666,"y":240,"wires":[]},{"id":"947f09bd.ff5028","type":"comment","z":"2f4a5f33.b09cf","name":"Control devices","info":"\n\n# Control Devices\n\n\n## 1. Water pump \n  - key :  controls/devices/sw/12\n  - value : \n     - 1 -> active\n     - 0 -> Not Active\n\n\n","x":240,"y":73,"wires":[]},{"id":"31048523.433e6a","type":"comment","z":"50f32b36.8df874","name":"Control Tower Check","info":"redis\n\ncontrols/devices/sw/12, 1","x":950,"y":237,"wires":[]},{"id":"597b43f8.a7c05c","type":"ui_text","z":"2f4a5f33.b09cf","group":"818ae91c.e143f8","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":240,"wires":[]},{"id":"378dad7.0ad7652","type":"change","z":"2f4a5f33.b09cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Active Devices ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Not Active Devices ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":240,"wires":[["597b43f8.a7c05c"]]},{"id":"f8459144.94054","type":"comment","z":"2f4a5f33.b09cf","name":"Set global sw12","info":"","x":540,"y":80,"wires":[]},{"id":"1050c5d7.cb96fa","type":"ui_ui_control","z":"7981ebc7.eb7ed4","name":"Open Tab ","events":"change","x":160,"y":180,"wires":[["1987665f.145b3a"]]},{"id":"1987665f.145b3a","type":"switch","z":"7981ebc7.eb7ed4","name":"It is OFFICE","property":"name","propertyType":"msg","rules":[{"t":"eq","v":"OFFICE","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":180,"wires":[["9ceedd47.b4eb6","fe4fd0e3.e982f"]]},{"id":"9ceedd47.b4eb6","type":"function","z":"7981ebc7.eb7ed4","name":"get global sw12","func":"if (global.get(\"sw12\") === 0){\n    msg.enabled = false;\n} else\n{\n    msg.enabled = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":280,"wires":[["b19ee5f2.ed5638"]]},{"id":"f9ec1cf9.11dec","type":"function","z":"50f32b36.8df874","name":"Get global sw12 & set payload ","func":"if(global.get(\"sw12\") === 1){\n    msg.payload = {\"device\":{\"group\":\"1\",\"family\":\"2\"},\"status\":\"1\"};\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":280,"wires":[["7123ea4e.c17874","2822389b.1974f8"]]},{"id":"2822389b.1974f8","type":"debug","z":"50f32b36.8df874","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1020,"y":340,"wires":[]},{"id":"a79e46ec.f87678","type":"function","z":"92e72c0.c2abed8","name":"Get global sw12 & set payload ","func":"if(global.get(\"sw12\") === 1){\n    msg.payload = {\"device\":{\"group\":\"1\",\"family\":\"2\"},\"status\":\"1\"};\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["4d610f8b.e0767"]]},{"id":"fe4fd0e3.e982f","type":"function","z":"7981ebc7.eb7ed4","name":"sw11","func":"msg.topic = \"\";\nmsg.payload = ['status/devices/sw/11']; \nreturn msg;","outputs":1,"noerr":0,"x":489,"y":104,"wires":[["badc55c6.6101d8"]]},{"id":"badc55c6.6101d8","type":"redis-command","z":"7981ebc7.eb7ed4","server":"47573954.062358","command":"get","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":679,"y":104,"wires":[["d03a097c.a16748"]]},{"id":"d4debb20.c55a08","type":"debug","z":"7981ebc7.eb7ed4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1250,"y":104,"wires":[]},{"id":"d03a097c.a16748","type":"change","z":"7981ebc7.eb7ed4","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":859,"y":104,"wires":[["34df3551.b32a1a"]]},{"id":"af8b3b57.2f8b58","type":"change","z":"7981ebc7.eb7ed4","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"{\"device\":{\"group\":\"1\",\"family\":\"1\"},\"status\":\"1\"}","tot":"json"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"{\"device\":{\"group\":\"1\",\"family\":\"1\"},\"status\":\"0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":180,"wires":[["5c81bf7f.75436"]]},{"id":"3bc61ef5.900932","type":"mongodb-node","z":"8f649528.42f818","mongodb":"753329d3.7d1038","name":"","collection":"equipment","operation":"find","upsert":false,"multi":false,"x":350,"y":240,"wires":[["ef280bfe.e156f8","5b7c0ad1.684334"]]},{"id":"2b8622a4.6e7ffe","type":"inject","z":"8f649528.42f818","name":"findAll","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["3bc61ef5.900932"]]},{"id":"ef280bfe.e156f8","type":"debug","z":"8f649528.42f818","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":240,"wires":[]},{"id":"9c187ab1.d04a88","type":"redis-command","z":"8f649528.42f818","server":"2edbf5.f205840c","command":"GET","name":"","topic":"","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":300,"y":520,"wires":[["b15981d1.c91b3"]]},{"id":"b27f3582.ec7ba8","type":"debug","z":"8f649528.42f818","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":500,"wires":[]},{"id":"8162f95e.89dfe8","type":"debug","z":"8f649528.42f818","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":340,"wires":[]},{"id":"5b7c0ad1.684334","type":"change","z":"8f649528.42f818","name":"","rules":[{"t":"set","p":"array","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"data","pt":"flow","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":380,"wires":[["2b17d628.085a5a"]]},{"id":"bfbf44cb.83f568","type":"function","z":"8f649528.42f818","name":"move msg","func":"//node.log(msg.payload.initVal);\nmsg.topic=\"\";\nmsg.initVal = msg.payload.initVal;\nmsg.temptopic = msg.payload.device;\nmsg.payload = msg.payload.device;\n\n//node.log(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":520,"wires":[["9c187ab1.d04a88"]]},{"id":"c3ce444e.5721e8","type":"function","z":"8f649528.42f818","name":"Set flow.data","func":"var out = flow.get(\"data\");\nvar topic = msg.temptopic;\n\nout[topic] = msg.payload;\n//node.log(JSON.stringify(out));\n//flow.set(\"data\",out);\nflow.set(\"data\", out);\n//node.log(JSON.stringify(flow.get(\"data\")));\n\nmsg.payload =  msg.payload;\nmsg.initVal =  msg.initVal;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":500,"wires":[["b27f3582.ec7ba8","2b17d628.085a5a"]]},{"id":"fb40370e.66d2c8","type":"function","z":"8f649528.42f818","name":"At End & Set Global.deviceStatus","func":"//node.log(JSON.stringify(flow.get(\"data\")));\nglobal.set(\"deviceStatus\", flow.get(\"data\"));\nmsg.payload = global.get(\"deviceStatus\");\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":340,"wires":[["8162f95e.89dfe8"]]},{"id":"2b17d628.085a5a","type":"array-loop","z":"8f649528.42f818","name":"","key":"alaeddbb34708fa8","keyType":"msg","reset":false,"resetValue":"value-null","array":"array","arrayType":"msg","x":420,"y":380,"wires":[["fb40370e.66d2c8"],["bfbf44cb.83f568"]]},{"id":"72f34145.d69d5","type":"comment","z":"8f649528.42f818","name":"주요 사항","info":"1. Mongoldb 검색하여\n2. Redis의 상태를 확득하여\n3. loop를 이용하여 상태정보를 생성한다\n---\nnpm loop-processing\n\n# mongo 10.70.17.51:27017\n\ndb.equipment.insert({device:\"house/sensor1\", initVal:0});\ndb.equipment.insert({device:\"house/sensor2\", initVal:0});\ndb.equipment.insert({device:\"house/sensor3\", initVal:0});\n\n$ docker run -it --rm redis redis-cli -h 10.70.17.51 -p 6379\n\n> set house/sensor1 0\n> set house/sensor2 1\n> set house/sensor3 0\n> get house/sensor1\n> get house/sensor2\n> get house/sensor3\n\n\n\n{\"house/sensor1\":\"0\",\"house/sensor2\":\"1\",\"house/sensor3\":\"0”}","x":80,"y":140,"wires":[]},{"id":"b15981d1.c91b3","type":"switch","z":"8f649528.42f818","name":"is not Null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":520,"wires":[["c3ce444e.5721e8"],["1b044346.5c6aed"]]},{"id":"c6fdf80a.e7b4c8","type":"debug","z":"8f649528.42f818","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":640,"wires":[]},{"id":"7f425012.4ce2","type":"redis-command","z":"8f649528.42f818","server":"418d0269.e0087c","command":"SET","name":"","topic":"","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":560,"y":640,"wires":[["1e2490f5.a73e6f"]]},{"id":"1b044346.5c6aed","type":"function","z":"8f649528.42f818","name":"Not found","func":"var a = [];\n\na[0] = msg.temptopic;\na[1] = msg.initVal;\n\nmsg.payload = a;\nmsg.topic = \"\";\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":640,"wires":[["7f425012.4ce2"]]},{"id":"1e2490f5.a73e6f","type":"function","z":"8f649528.42f818","name":"move initVal","func":"msg.payload = msg.initVal;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":640,"wires":[["c3ce444e.5721e8","c6fdf80a.e7b4c8"]]},{"id":"fdaf359a.c174a8","type":"function","z":"7981ebc7.eb7ed4","name":"Get global sw12 & set payload ","func":"if(global.get(\"sw12\") === 1){\n    msg.payload = {\"device\":{\"group\":\"1\",\"family\":\"2\"},\"status\":\"1\"};\n}\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":280,"wires":[["1b588711.236e99"]]},{"id":"a62cf47b.e2d598","type":"switch","z":"ebc3cfd3.17265","name":"","property":"payload.topic","propertyType":"jsonata","rules":[{"t":"eq","v":"03","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":630,"y":280,"wires":[["d01f1a3f.c1df28"],["701e1c43.666e24"],["e919b492.48ac28"]]},{"id":"4ebdea07.5730f4","type":"json","z":"ebc3cfd3.17265","name":"","property":"payload","action":"","pretty":false,"x":490,"y":280,"wires":[["a62cf47b.e2d598","176cd1f4.b6743e"]]},{"id":"816a68d4.749b78","type":"debug","z":"ebc3cfd3.17265","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":240,"wires":[]},{"id":"d01f1a3f.c1df28","type":"function","z":"ebc3cfd3.17265","name":"","func":"var newMsg = { payload: msg.payload.value };\nreturn newMsg;","outputs":1,"noerr":0,"x":770,"y":120,"wires":[["26940ad5.2fd8e6","eb7b18b3.ad4a68"]]},{"id":"701e1c43.666e24","type":"function","z":"ebc3cfd3.17265","name":"","func":"var newMsg = { payload: msg.payload.value };\nreturn newMsg;","outputs":1,"noerr":0,"x":770,"y":280,"wires":[["816a68d4.749b78","15d7d0eb.3c309f"]]},{"id":"e919b492.48ac28","type":"function","z":"ebc3cfd3.17265","name":"","func":"var newMsg = { payload: msg.payload.value };\nreturn newMsg;","outputs":1,"noerr":0,"x":790,"y":440,"wires":[["a70fac7c.69807","54b16954.e70b48"]]},{"id":"a70fac7c.69807","type":"debug","z":"ebc3cfd3.17265","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":400,"wires":[]},{"id":"52d06572.8dd8bc","type":"mqtt in","z":"ebc3cfd3.17265","name":"","topic":"events/sensors/eq/03","qos":"2","datatype":"utf8","broker":"d39b72d7.6a63c","x":120,"y":200,"wires":[["e14768cc.51a9b8"]]},{"id":"7845764.9605388","type":"mqtt in","z":"ebc3cfd3.17265","name":"","topic":"events/sensors/eq/13","qos":"2","datatype":"utf8","broker":"d39b72d7.6a63c","x":120,"y":240,"wires":[["e14768cc.51a9b8"]]},{"id":"6279ac6e.f8eff4","type":"mqtt in","z":"ebc3cfd3.17265","name":"","topic":"events/sensors/eq/20","qos":"2","datatype":"utf8","broker":"d39b72d7.6a63c","x":120,"y":280,"wires":[["e14768cc.51a9b8"]]},{"id":"2ec6b697.48383a","type":"inject","z":"ebc3cfd3.17265","name":"","topic":"","payload":"01640409","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":340,"wires":[["e14768cc.51a9b8"]]},{"id":"26940ad5.2fd8e6","type":"debug","z":"ebc3cfd3.17265","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":80,"wires":[]},{"id":"efd45a7a.79d838","type":"comment","z":"ebc3cfd3.17265","name":"Temperature","info":"","x":790,"y":80,"wires":[]},{"id":"7eb8d41c.99befc","type":"comment","z":"ebc3cfd3.17265","name":"Humidity","info":"","x":780,"y":240,"wires":[]},{"id":"90328203.2c571","type":"comment","z":"ebc3cfd3.17265","name":"Soil Moisture","info":"# Soil Moisture","x":810,"y":400,"wires":[]},{"id":"176cd1f4.b6743e","type":"debug","z":"ebc3cfd3.17265","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":500,"y":420,"wires":[]},{"id":"eb7b18b3.ad4a68","type":"mqtt out","z":"ebc3cfd3.17265","name":"","topic":"hassio/sensors/eq/03","qos":"","retain":"","broker":"c4524907.137658","x":980,"y":120,"wires":[]},{"id":"15d7d0eb.3c309f","type":"mqtt out","z":"ebc3cfd3.17265","name":"","topic":"hassio/sensors/eq/13","qos":"","retain":"","broker":"c4524907.137658","x":1000,"y":280,"wires":[]},{"id":"54b16954.e70b48","type":"mqtt out","z":"ebc3cfd3.17265","name":"","topic":"hassio/sensors/eq/20","qos":"","retain":"","broker":"c4524907.137658","x":1020,"y":440,"wires":[]},{"id":"e008faa2.715098","type":"pythonshell in","z":"c3324967.789e48","name":"","pyfile":"/usr/src/node-red/subprogram.py","virtualenv":"","continuous":false,"stdInData":false,"x":340,"y":280,"wires":[["29977193.18893e"]]},{"id":"9afc5bd6.544128","type":"pythonshell in","z":"7981ebc7.eb7ed4","name":"","pyfile":"/usr/src/node-red/subprogram.py","virtualenv":"","continuous":false,"stdInData":false,"x":591,"y":540,"wires":[["97bb72c7.9de34"]]},{"id":"43873747.343698","type":"pythonshell in","z":"92e72c0.c2abed8","name":"","pyfile":"/usr/src/node-red/subprogram.py","virtualenv":"","continuous":false,"stdInData":false,"x":300,"y":300,"wires":[["758cb83f.5fc758"]]},{"id":"e14768cc.51a9b8","type":"pythonshell in","z":"ebc3cfd3.17265","name":"","pyfile":"/usr/src/node-red/subprogram.py","virtualenv":"","continuous":false,"stdInData":false,"x":340,"y":280,"wires":[["4ebdea07.5730f4"]]},{"id":"3c41d2f.d54432e","type":"api-current-state","z":"9285308d.715c9","name":"","server":"62de3db.59623c4","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":140,"y":160,"wires":[["67f33d7a.ef0a24","6fed86dc.a6b458"]]},{"id":"d91c33ba.12834","type":"inject","z":"9285308d.715c9","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["3c41d2f.d54432e"]]},{"id":"67f33d7a.ef0a24","type":"function","z":"9285308d.715c9","name":"","func":"msg.payload = msg.data.attributes.next_rising;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["85a1ac77.185a"]]},{"id":"b0457d3.a26b48","type":"eztimer","z":"9285308d.715c9","name":"LED Duration","debug":false,"autoname":"17:00 - dusk","tag":"","suspended":false,"sendEventsOnSuspend":false,"latLongSource":"haZone","latLongHaZone":"zone.home","lat":"","lon":"","timerType":"1","startupMessage":true,"ontype":"2","ontimesun":"dusk","ontimetod":"17:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"json","onvalue":"{\"device\":{\"group\":\"1\",\"family\":\"1\"},\"status\":\"1\"}","onoffset":0,"onrandomoffset":0,"onsuppressrepeats":false,"offtype":"2","offtimesun":"dawn","offtimetod":"dusk","offduration":0,"offpropertytype":"msg","offproperty":"payload","offvaluetype":"json","offvalue":"{\"device\":{\"group\":\"1\",\"family\":\"1\"},\"status\":\"0\"}","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"resend":false,"resendInterval":"1m","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":280,"y":300,"wires":[["ae28109.83996f","76fc5cf9.c911e4"]]},{"id":"ae28109.83996f","type":"debug","z":"9285308d.715c9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":300,"wires":[]},{"id":"6fed86dc.a6b458","type":"function","z":"9285308d.715c9","name":"","func":"msg.payload = msg.data.attributes.next_setting;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["3632faa7.456cd6"]]},{"id":"3a17f6c8.5734ba","type":"join","z":"9285308d.715c9","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"topic","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":160,"wires":[["3b46026f.8aca1e"]]},{"id":"3b46026f.8aca1e","type":"function","z":"9285308d.715c9","name":"","func":"var obj = {};\n\nobj = {\n    \"ontime\":msg.payload.sunrise,\n    \"offtime\":msg.payload.sunset\n    \n}\n\nmsg.payload = obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":100,"y":300,"wires":[["b0457d3.a26b48"]]},{"id":"85a1ac77.185a","type":"moment","z":"9285308d.715c9","name":"","topic":"sunrise","input":"","inputType":"msg","inTz":"ETC/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm:ss","locale":"en-US","output":"payload","outputType":"msg","outTz":"Asia/Seoul","x":480,"y":140,"wires":[["3a17f6c8.5734ba"]]},{"id":"3632faa7.456cd6","type":"moment","z":"9285308d.715c9","name":"","topic":"sunset","input":"","inputType":"msg","inTz":"ETC/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm:ss","locale":"en-US","output":"payload","outputType":"msg","outTz":"Asia/Seoul","x":470,"y":200,"wires":[["3a17f6c8.5734ba"]]},{"id":"76fc5cf9.c911e4","type":"json","z":"9285308d.715c9","name":"","property":"payload","action":"","pretty":false,"x":110,"y":420,"wires":[["56a4d3fa.1bb57c"]]},{"id":"56a4d3fa.1bb57c","type":"function","z":"9285308d.715c9","name":"Name of database + timestamp","func":"msg.filename = \"./log/outlog.txt\";\nvar time = Date.now();\nvar x = msg.payload;\nmsg.payload = time + ' - ' + x;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":420,"wires":[["be82e13d.f6792"]]},{"id":"be82e13d.f6792","type":"file","z":"9285308d.715c9","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":690,"y":420,"wires":[[]]},{"id":"34df3551.b32a1a","type":"function","z":"7981ebc7.eb7ed4","name":"set open","func":"msg.payload = msg.payload;\nmsg.topic = \"open\";\nreturn msg;","outputs":1,"noerr":0,"x":1033,"y":104,"wires":[["d4debb20.c55a08","35b5dd18.b1cbc2"]]},{"id":"9f5f3c36.d568","type":"switch","z":"7981ebc7.eb7ed4","name":"check open","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"open","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":692,"y":180,"wires":[["af8b3b57.2f8b58"]]},{"id":"fa3ced3f.999ed","type":"inject","z":"ab9683d3.9f8d8","name":"button","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":160,"wires":[["107cf249.36ec4e"]]},{"id":"107cf249.36ec4e","type":"function","z":"ab9683d3.9f8d8","name":"redis key ","func":"msg.payload = ['events/sensors/eq/21', \"0\",\"10\"]; \nreturn msg;","outputs":1,"noerr":0,"x":220,"y":180,"wires":[["9db70b0c.e6be48"]]},{"id":"3973f9a7.2db3e6","type":"debug","z":"ab9683d3.9f8d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":340,"wires":[]},{"id":"55885ef9.b8fad","type":"json","z":"ab9683d3.9f8d8","name":"","property":"payload","action":"str","pretty":false,"x":390,"y":260,"wires":[["d55dc573.774ab8","f335a601.05f1f8"]]},{"id":"d55dc573.774ab8","type":"function","z":"ab9683d3.9f8d8","name":"string concate","func":"var form = '{ \"channel\":\"Population\", \"color\":\"Green\", \"dataset\":'\nvar data = msg.payload + '}';\nmsg.payload = form + data;\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":340,"wires":[["6f3243e0.5ffdcc"]]},{"id":"6f3243e0.5ffdcc","type":"json","z":"ab9683d3.9f8d8","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":340,"wires":[["d3db7c75.831d7"]]},{"id":"74c77f9d.dc80b","type":"pythonshell in","z":"ab9683d3.9f8d8","name":"","pyfile":"/usr/src/node-red/subprogram2.py","virtualenv":"","continuous":false,"stdInData":false,"x":600,"y":180,"wires":[["55885ef9.b8fad"]]},{"id":"9db70b0c.e6be48","type":"redis-command","z":"ab9683d3.9f8d8","server":"ce63b1c5.c298a","command":"lrange","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":390,"y":180,"wires":[["74c77f9d.dc80b"]]},{"id":"d3db7c75.831d7","type":"chartjs-line","z":"ab9683d3.9f8d8","name":"","path":"charts","charttitle":"Chart title","xaxis":"Item","yaxis":"Value","x":450,"y":340,"wires":[["3973f9a7.2db3e6"]]},{"id":"f335a601.05f1f8","type":"debug","z":"ab9683d3.9f8d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":260,"wires":[]},{"id":"6cbcd461.492cfc","type":"debug","z":"9b1b8820.f177a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":500,"wires":[]},{"id":"a50b3e64.f3b3c","type":"json","z":"9b1b8820.f177a8","name":"","property":"payload","action":"str","pretty":false,"x":310,"y":400,"wires":[["3482fffb.365f1"]]},{"id":"3482fffb.365f1","type":"function","z":"9b1b8820.f177a8","name":"","func":"var form = '{ \"channel\":\"Population\", \"color\":\"Green\", \"dataset\":'\nvar data = msg.payload + '}';\nmsg.payload = form + data;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":400,"wires":[["62752de8.96d434"]]},{"id":"62752de8.96d434","type":"json","z":"9b1b8820.f177a8","name":"","property":"payload","action":"obj","pretty":false,"x":650,"y":400,"wires":[["37ac16c3.80335a"]]},{"id":"37ac16c3.80335a","type":"chartjs-line","z":"9b1b8820.f177a8","name":"","path":"charts","charttitle":"Chart title","xaxis":"Item","yaxis":"Value","x":130,"y":500,"wires":[["6cbcd461.492cfc"]]},{"id":"d81fa91b.b55208","type":"function","z":"9b1b8820.f177a8","name":"redis key ","func":"msg.payload = ['events/sensors/eq/21', \"0\",\"-1\"]; \nreturn msg;","outputs":1,"noerr":0,"x":480,"y":300,"wires":[["fbea7c1.0b2138"]]},{"id":"fbea7c1.0b2138","type":"redis-command","z":"9b1b8820.f177a8","server":"41c634f9.cac8fc","command":"lrange","name":"","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":670,"y":300,"wires":[["d0a40cfa.ad0e5"]]},{"id":"a22424eb.685f98","type":"comment","z":"9b1b8820.f177a8","name":"Read Redis to Charts by Python Function","info":"redis data : [\"{}\",\"{}\"]\n string array, string in object\n \npython :\n read : array\n for \n load : str --> dict\n list.append\n \n out : array in dict\n\n","x":220,"y":60,"wires":[]},{"id":"cefb9179.2804a","type":"ui_date_picker","z":"9b1b8820.f177a8","name":"FromDD","label":"From","group":"a71df0fb.d924c","order":1,"width":0,"height":0,"passthru":true,"topic":"fromdd","x":120,"y":100,"wires":[["a7824675.a33638","2554c907.9880c6"]]},{"id":"d9a9e28.7c7ed2","type":"ui_date_picker","z":"9b1b8820.f177a8","name":"toDD","label":"To","group":"a71df0fb.d924c","order":2,"width":0,"height":0,"passthru":true,"topic":"todd","x":110,"y":220,"wires":[["a7824675.a33638","c4415875.5e51e8"]]},{"id":"90bdcaa8.288ac8","type":"ui_button","z":"9b1b8820.f177a8","name":"","group":"a71df0fb.d924c","order":5,"width":0,"height":0,"passthru":false,"label":"Create","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":300,"wires":[["7d8ed750.6ff638"]]},{"id":"a7824675.a33638","type":"join","z":"9b1b8820.f177a8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":390,"y":160,"wires":[["7dfa3e96.0d59a"]]},{"id":"7dfa3e96.0d59a","type":"change","z":"9b1b8820.f177a8","name":"","rules":[{"t":"set","p":"selected","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":160,"wires":[[]]},{"id":"7d8ed750.6ff638","type":"change","z":"9b1b8820.f177a8","name":"","rules":[{"t":"set","p":"fromdd","pt":"msg","to":"selected.fromdd","tot":"flow"},{"t":"set","p":"todd","pt":"msg","to":"selected.todd","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":300,"wires":[["d81fa91b.b55208"]]},{"id":"db84a7b8.0517e8","type":"ui_text","z":"9b1b8820.f177a8","group":"a71df0fb.d924c","order":3,"width":0,"height":0,"name":"FromDD","label":"FromDD","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":100,"wires":[]},{"id":"2554c907.9880c6","type":"moment","z":"9b1b8820.f177a8","name":"","topic":"","input":"","inputType":"msg","inTz":"Asia/Seoul","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"en-US","output":"","outputType":"msg","outTz":"Asia/Seoul","x":440,"y":100,"wires":[["db84a7b8.0517e8"]]},{"id":"c4415875.5e51e8","type":"moment","z":"9b1b8820.f177a8","name":"","topic":"","input":"","inputType":"msg","inTz":"Asia/Seoul","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"en-US","output":"","outputType":"msg","outTz":"Asia/Seoul","x":440,"y":220,"wires":[["39b79bb2.0b3d54"]]},{"id":"39b79bb2.0b3d54","type":"ui_text","z":"9b1b8820.f177a8","group":"a71df0fb.d924c","order":4,"width":0,"height":0,"name":"ToDD","label":"ToDD","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":220,"wires":[]},{"id":"d0a40cfa.ad0e5","type":"python-function","z":"9b1b8820.f177a8","name":"","func":"import sys\nimport formated\nimport json\nimport datetime\n\n### input array in string(object)\n### output array in object\na = msg[\"payload\"]\n#fromdd = msg[\"fromdd\"]\nfromdd = datetime.datetime.fromtimestamp(msg[\"fromdd\"]/1000).strftime('%Y-%m-%d')\n#todd = msg[\"todd\"]\ntodd = datetime.datetime.fromtimestamp(msg[\"todd\"]/1000).strftime('%Y-%m-%d')\nls = []\n\nfor i in a:\n r = {}\n s = json.loads(i)\n ts = int(s['time']) \n td = datetime.datetime.fromtimestamp(ts).strftime('%Y-%m-%d')\n\n if (td >= fromdd and td <= todd) :\n     tm = datetime.datetime.fromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S')\n     fm = formated \n     de = fm.decode_msg(s['value'])\n     r[\"x\"] = tm\n     r[\"y\"] = str(de.value())\n     ls.append(r)\n msg[\"payload\"] = ls \n\nreturn msg","outputs":1,"x":120,"y":400,"wires":[["a50b3e64.f3b3c"]]}]